# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Build results
# =========================
bin/
obj/
Debug/
Release/

# =========================
# ASP.NET Core
# =========================
wwwroot/lib/
wwwroot/dist/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Rider / VSCode
# =========================
.vscode/
.idea/

# =========================
# Node (nếu có)
# =========================
node_modules/

# =========================
# Secrets
# =========================
appsettings.Development.json