@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutEcomm.cshtml";
}

<div class="content_top">
    <div class="wrap">
        <h3>Danh sách sản phẩm</h3>
    </div>
    <div class="line"> </div>
    <div class="wrap">
        <div id="product-list" class="section group">
            <h3>Danh sách sản phẩm</h3>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var getLoaiUrl = '@Url.Action("GetLoai", "Home")';
        var getProductsUrl = '@Url.Action("GetProducts", "Home")';
        $.ajax({
            url: getLoaiUrl,
            type: 'GET',
            success: function (data) {
                let html = '';
                data.forEach(item => {
                    html += `<li>
                        <a href="#" onclick="loadProducts('${item.maLoai}')">
                            ${item.loai}
                        </a>
                    </li>`;
                });
                $('#menu-loai').html(html);
                var firstLoai = data.length > 0 ? data[0].maLoai : null;
                if (firstLoai) {
                    loadProducts(firstLoai, getProductsUrl);
                }
            }
        });
    });

    function loadProducts(maLoai, url) {
        $.ajax({
            url: url || '@Url.Action("GetProducts", "Home")',
            type: 'GET',
            data: { maLoai: maLoai },
            success: function (data) {
                $('#product-list').html(data);
            },
            error: function () {
                alert('Lỗi load sản phẩm');
            }
        });
    }
</script>
